<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form class="askForm" method="POST"> 
       <label>Answer:</label>
       
           
     
          <textarea  name="question" >
            <%= foundA.content %>
  
          </textarea>
          <label>Solution code:</label>
          <textarea  name="code" rows="4" cols="50">
            <%= foundA.code%>
  
          </textarea>
        <input type="submit" value="finish" >
      ]
      </form>
    
</body>
</html>