<!DOCTYPE html>
<html>

<head>
  <title>Users</title>
  <!-- Google Icon Fonts used by Materialize -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Materialize CSS Framework -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="stylesheets/style.css" />
  <!-- JavaScript for Materialize -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
          <form action="/asks/search" method="POST">
            <input id="search" type="text" name="name" placeholder="search name" value="" autocomplete="off">
            <button type="submit">Search</button>
          </form>
          <input id="search" type="search" name="title" placeholder="search name" value="<%= title %>" autocomplete="off">
            
            </div>
          <% if (user) { %>
            <a href="asks/new">Askvevwewew</a>
            <a href="/logout"><i class="material-icons left">trending_flat</i>Log Out</a>
          <% } else { %>
            <a href="/auth/google"><i class="material-icons left">vpn_key</i>Login with Google</a>
          <% } %>
        
          <% asks.forEach(element => { %>
            <p><%=element.title%></p><a href="/asks/<%= element._id %>">DETAILS</a>
          <% }); %> 
          <div class="input-field">
         
</body>
  

      

</html>