<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello</h1>
    <form action="/asks" method="POST">
        <label>Qeustion:</label>
        <input type="text" name="title" placeholder="question">
        <label>Select Difficulty:</label>
        <select name="difficult">
          <option value="hard">HARD</option>
          <option value="medium">MEDIUM</option>
          <option value="basic">EASY</option>
        </select>
        <label>Describe your question:</label>
          <textarea  name="question">
  
          </textarea>
          <label>Write your code:</label>
          <textarea  name="code">
  
          </textarea>
        <input type="submit" value="ask" >
      </form>
</body>
</html>